
#navbar {
	margin-bottom: 15px;
}

#main {
	margin-top: 50px;
}

#teaser {
	background: url('../img/content/business_people2.jpg');
	background-size:100% 100%;
	-webkit-background-origin:border-box; /* Safari */
	background-origin:border-box;
	background-repeat: none;
	height: 400px;
	margin-bottom: 50px;
	overflow: hidden;
	position: relative;
}
#teaser-box {
	top: 180px;
	position: absolute;
}
#teaser-box .well{
	background: rgb(245, 245, 245) transparent; /* default fallback */
	background: rgba(245, 245, 245, 0.75); /* nice browsers */
}

#form-box {
	top: 10px;
	position: absolute;
	margin-left: 1000px;
}
#form-box .well {
	background: rgb(245, 245, 245); /* default fallback */
	background: rgba(245, 245, 245, 0.95); /* nice browsers */
}
#form-box .well .credit_sum{
	font-weight: bold;
}

#results-wrapper {
	display: none;
	overflow: hidden;
	overflow-x: scroll;
	height: 350px;
}

.result-item {
	padding: 15px;
}
.result-item.odd {
	background-color: #eee;
}

.result-item .actions {
	text-align: center;
}